@page
@model Taller.app.Front.Pages.ManejoInventarioModel
@{
}

<style>
    .table{
        text-align: center;
    }

    .notas{
        margin-top: 300px;
    }

    .ediguar{
        margin-top:150px;
    }


</style>


<div class="d-flex flex-row-reverse">
    <div class="p-2">
            <span>Mecanico</span> <label>Martillo</label>
        </div>
        <div class="p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-person-square" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
                    </svg>
        </div>
    </div>
    
    <p>

    
<!--------------------- inicio formulario --------------------------------------------------------------->

    <div class="container-border">
        <h1>Manejo de Inventario</h1>
        <div class="row">
        
            <div class="col-sm-4 border">
                <div><h4>Inventario Disponible </h4></div>
                <p>
                
                <div class="row">
                <div class="col-sm-7">
                <form class="needs-validation" novalidate>
                <div class="list-group">
                     <a href="#" class="list-group-item">Filtro de aceite</a>
                     <a href="#" class="list-group-item active">Bomba de gasolina</a>
                     <a href="#" class="list-group-item disabled">Filtro de aire</a>
                     <a href="#" class="list-group-item active">Bugias</a>
                     <a href="#" class="list-group-item disabled">Neumaticos</a>
                </div>
                </div>
                        
                

                <div class="col-sm-4 ">
                <div class="list-group">
                     <a href="#" class="list-group-item">5</a>
                     <a href="#" class="list-group-item active">10</a>
                     <a href="#" class="list-group-item disabled">30</a>
                     <a href="#" class="list-group-item active">30</a>
                     <a href="#" class="list-group-item disabled">50</a>
                    </div>
                </div>
                <div class="border notas">
                    <div id="liveAlertPlaceholder"></div>
                </form>
                <p>
                
                </div>
            </div>
        </div>
        <div class="col-sm-4 border">
                <div><h4>Orden de pedido </h4></div>
                <p>
                
                <div class="row">
                <div class="col-sm-7">
                <form class="needs-validation" novalidate>
                    <div class="list-group">
                     <a href="#" class="list-group-item">Filtro de aceite</a>
                     <a href="#" class="list-group-item">Filtro de aire</a>
                     <a href="#" class="list-group-item">Neumaticos</a>
                     
                    </div>
                    </div>
                        
                

                    <div class="col-sm-4 ">
                    <div class="list-group">
                     <a href="#" class="list-group-item active">1</a>
                     <a href="#" class="list-group-item active">1</a>
                     <a href="#" class="list-group-item active">3</a>
                    </div>
                    </div>
               
                    
                </form>
                <p>
                
        </div>
            
    </div>
