@page
@model Taller.App.Front.Pages.RegistrarInfoNuevoUsuarioModel
@{
}

<style>
    #cabeza {
        color: white;
    }

    #user {
        font-size: 30px;
        margin-right: 10px;
    }


    body {
        background: blue;
        background: linear-gradient(to right, #EBEBF6, #949AF3);
    }

    .container {
        border: 10px;
        border-color: #949AF3;
        border-radius: 10px;
    }


    h4 {
        color: blue;
    }


    .bg {
        background-image: url(https://www.lubricantesenvenezuela.com/wp-content/uploads/2020/01/mantenimiento-de-vehiculos.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 1px;
        border-radius: 10px;
    }

    .button {
        padding: 20px;
    }
</style>

    <div id="cabeza" class="bg-primary d-flex flex-row-reverse">
        <div class="p-1">
            <i id="user" class="bi bi-people-fill"></i>
            <span>Cliente</span>
            <label>Andres</label>
        </div>
    </div>
    <p>



    <!--------------------- inicio formulario --------------------------------------------------------------->

    <body>
        <div class="container w-95 bg-light">
            <div class="row">

                <div class="col bg">
                </div>

                <div class="col">
                    <div class="text-end">
                        <img src="" alt="">
                    </div>


                    <!--Registro-->


                    <form class="needs-validation" novalidate>
                        <h4 class="fw-bold text-center">REGISTRO DE USUARIO</h4>
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="validationCustom01" class="form-label">Tipo de Documento:</label>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-select" id="validationCustom01" required>
                                        <option selected disabled value="">Marque una opción</option>
                                        <option>Cedula de Ciudadanía</option>
                                        <option>Cedula Extranjería</option>
                                        <option>Pasaporte</option>
                                        <option>Otros</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Este campo es obligatorio
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom02" class="form-label">Número de Identificación:</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="validationCustom02" required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom03" class="form-label">Nombre Completo</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="validationCustom05" required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                                                       
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom05" class="form-label">Fecha de Nacimiento:</label>
                                </div>
                                <div class="col">
                                    <input type="date" class="form-control" id="validationCustom04" required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                                <br>
                                <br>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom06" class="form-label">Correo Electrónico</label>
                                </div>
                                <div class="col">
                                    <input type="email" class="form-control" id="validationCustom07" required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom07" class="form-label">Celular</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="validationCustom07" required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom089" class="form-label">Dirección de Residencia</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="validationCustom07" required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom09" class="form-label">Ciudad</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="validationCustom07" required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom10" class="form-label">Contraseña</label>
                                </div>
                                <div class="col">
                                    <input type="password" class="form-control" id="validationCustom07" required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom11" class="form-label">Confirmación de
                                        Contraseña</label>
                                </div>
                                <div class="col">
                                    <input type="password" class="form-control" id="validationCustom07" required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="button col-sm-12 text-center">
                                <button class="btn btn-primary" id="liveAlertBtn" type="submit">Registrar</button>
                                <a class="btn btn-secondary" href="#" role="button">Volver</a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </body>

    <!---------------------------------------------------------Js-------------------------------->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {

                        event.preventDefault()
                        const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
                        const alert = (message, type) => {
                            const wrapper = document.createElement('div')
                            wrapper.innerHTML = [
                                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                                `   <div>${message}</div>`,
                                '   <button type="button" id="closes" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                                '</div>'
                            ].join('')

                            alertPlaceholder.append(wrapper)
                        }
                        const alertTrigger = document.getElementById('liveAlertBtn')
                        if (alertTrigger) {
                            alertTrigger.addEventListener('click', () => {
                                alert('Vehículo registrado con exito', 'success')
                            })
                        }
                    }
                    form.classList.add('was-validated')

                }, false)


            })
        })()




    </script>
    <!---------------------------------------------------------Js-------------------------------->