/TallerMecanico
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/bin/
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/bin/Debug/net6.0/Taller.App.Front.pdb
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/bin/Debug/net6.0/Taller.App.Front.pdb
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/bin/Debug/net6.0/Taller.App.Front.pdb
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/bin/Debug/net6.0/Taller.App.Front.pdb
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/bin/Debug/net6.0/Taller.App.Front.staticwebassets.runtime.json
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/project.assets.json
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/project.nuget.cache
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/staticwebassets.pack.sentinel
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Taller.App.Front.csproj.nuget.dgspec.json
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Taller.App.Front.csproj.nuget.g.props
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/staticwebassets.build.json
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/staticwebassets.development.json
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/Taller.App.Front.assets.cache
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/Taller.App.Front.csproj.CoreCompileInputs.cache
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/Taller.App.Front.csproj.FileListAbsolute.txt
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/Taller.App.Front.dll
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/Taller.App.Front.GeneratedMSBuildEditorConfig.editorconfig
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/Taller.App.Front.genruntimeconfig.cache
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/Taller.App.Front.pdb
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/bin/Debug/net6.0/Taller.App.Front.pdb
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/bin/Debug/net6.0/Taller.App.Front.staticwebassets.runtime.json
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/project.assets.json
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/project.nuget.cache
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/staticwebassets.pack.sentinel
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Taller.App.Front.csproj.nuget.dgspec.json
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Taller.App.Front.csproj.nuget.g.props
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/staticwebassets.build.json
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/staticwebassets.development.json
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/Taller.App.Front.assets.cache
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/Taller.App.Front.csproj.CoreCompileInputs.cache
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/Taller.App.Front.csproj.FileListAbsolute.txt
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/Taller.App.Front.dll
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/Taller.App.Front.GeneratedMSBuildEditorConfig.editorconfig
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/Taller.App.Front.genruntimeconfig.cache
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/Debug/net6.0/Taller.App.Front.pdb
ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/staticwebassets.pack.sentinel
*/ciclo-3-proyecto-g8-master/Taller.App/Taller.App.Front/obj/staticwebassets.pack.sentinel
