@page
@model Taller.app.Front.Pages.ManejoInventarioModel
@{
}

<style>
    .table {
        text-align: center;
        border-radius: 10px;
        background: linear-gradient(to right, #FFE8C7, #EBEBF6);
    }

    .tabla {
        border-radius: 10px;
        background: linear-gradient(to right, #FFE8C7, #EBEBF6);


        .notas {
            margin-top: 300px;
        }

        .ediguar {
            margin-top: 80px;
        }


</style>


<div class="bg-primary d-flex flex-row-reverse">
    <div class="p-2">
        <span>Mecanico</span>
        <label>Martillo</label>
    </div>
    <div class="p-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-square"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
        </svg>
    </div>
</div>
<p>

    <!---------------------------Html-User preventiva------------------------------------------------>

    <!---------------------------Html preventiva----------------------------------------------------->

<div class="container-fluid">
    <div class="row">
        <h1>Manejo de inventario</h1>
        <div class="table col-sm-6">
            <table class="table-responsive">
                <br>
                <div class="d-flex h-5 justify-content-left min-vh-0 user-select-none">
                    <br>
                    <div class="h-25 search">
                        <input type="text" class="search-input" placeholder="Buscar producto" name="">
                        <a href="#" class="search-icon"> <i class="ser bi bi-search"></i> </a>
                    </div>
                </div>
                <thead>
                    <br>
                    <h4>Productos disponibles</h4>
                    <div id="tabla" class="row">
                        <table id="testTable"
                            class="table table-hover table-sm align-middle caption-top table-bordered border-primary">
                            <thead class="bg-primary">
                                <tr>
                                    <th scope="col">Codigo del producto</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>A505</td>
                                    <td>Filto de aire</td>
                                    <td>50</td>
                                </tr>
                                <tr>
                                    <td>A506</td>
                                    <td>Filtro de aceite</td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <td>B808</td>
                                    <td>Neumaticos</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>E666</td>
                                    <td>Exploradoras</td>
                                    <td>20</td>
                                </tr>
                                <tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="tabla col-sm-6 border">
                        <table class="tabla">
                            <br>
                            <h4>Productos a solicitar </h4>
                            <label for="validationCustom04" class="form-label"> Codigo del Producto:</label>
                            <div class="col">
                                <input type="text" class="form-control" id="validationCustom04" required>
                                <div class="invalid-feedback">
                                    este campo es obligatorio
                                </div>
                            </div>
                            <br>
                            <div class="col">
                                <label for="validationCustom04" class="form-label"> Producto:</label>
                            </div>
                            <div>
                                <select class="form-select" id="validationCustom03" required>
                                    <option selected disabled value=""></option>
                                    <option>Filtro Aceite</option>
                                    <option>Filtro de aire</option>
                                    <option>Neumatico</option>
                                    <option>Pastas de freno</option>
                                    <option>Otro</option>
                                </select>
                            </div>
                            <br>
                            <div class="col">
                                <label for="validationCustom04" class="form-label"> Cantidad:</label>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control" id="validationCustom04" required>
                            </div>
                            <br>
                            <div class="ediguar">
                                <button class="btn btn-primary" type="submit">Solicitar</button>
                                <button class="btn btn-primary" type="submit">Eliminar</button>
                            </div>
                            <br>
                        </table>
                    </div>

          
        </div>
       
    </div>