@page
@model Taller.App.Front.Pages.RegistrarInfoNuevoUsuarioModel
@{
}
        
    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <h5 class="display-6">Hola, Cliente</h5>
            </div>
        </div>
        
        <div class="row">
            <div class="formularioRegistrarUsuario col-sm-6 border">
                <p>

                <form>
                    <h2>Registro de Usuario</h2>

                    <div class="select-group col-sm-6">
                        <label for="exampleTipoDocumento">Tipo de Documento</label>
                        <select class="form-control form-control-sm-3">                            
                            <option>Cedula de Ciudadanía</option>
                            <option>Cedula de Extranjería</option>
                            <option>Pasaporte</option>
                            <option>Documento Extranjero (PPT)</option>
                        </select>
                    </div>

                    <div class="form-group col-sm-6">
                      <label for="exampleInputNumeroDocumento">Numero de Documento</label>
                      <input type="document" class="form-control" id="exampleInputNumeroDocumento" aria-describedby="indicacion" placeholder="Ingrese su numero de documento">
                    </div>

                    <div class="form-group col-sm-6">
                      <label for="exampleInputNombres">Nombres</label>
                      <input type="name" class="form-control" id="exampleInputNombres" placeholder="Ingrese sus Nombres">
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="exampleInputApellidos">Apellidos</label>
                        <input type="lastname" class="form-control" id="exampleInputApellidos" placeholder="Ingrese sus Apellidos">
                      </div>

                    <div class="form-group col-sm-6">
                        <label for="exampleInputCorreo">Correo Electrónico</label>
                        <input type="email" class="form-control" id="exampleInputCorreo" placeholder="Ingrese su Correo">
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="exampleInputTelefono">Celular</label>
                        <input type="phone" class="form-control" id="exampleInputNombres" placeholder="Ingrese su numero de celular ">
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="exampleInputDireccion">Dirección de Residencia</label>
                        <input type="direction" class="form-control" id="exampleInputDireccion" placeholder="Ingrese su Dirección">
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="exampleInputCiudad">Ciudad</label>
                        <input type="city" class="form-control" id="exampleInputCiudad" placeholder="Ciudad">
                    </div>

                    <div class="button col-sm-12">
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                    <button type="submit" class="btn btn-link">Volver</button>
                    </div>
                </form> 
                </p> 

            </div>

            <div class="texto col-sm-6"></div>

        </div>


        

       
    </div>