@page
@model IndexModel
@{
    ViewData["Title"] = "Home page (Katerin Blanco)";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos Taller Enkelema</h1>
    
    <h3>leyner</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>