@page
@model Taller.App.Front.Pages.OrdenparatecnicoModel
@{
}

<!--------------------- inicio cabeza ------------------------------------------------------->
<div id="cabeza" class="bg-primary d-flex flex-row-reverse">
    <div class="p-1">
        <i id="user" class="bi bi-people-fill"></i>
        <span>Cliente</span>
        <label>Andres</label>
    </div>
</div>
<p>
    <!--------------------- fin cabeza ---------------------------------------------------------->

    <!--------------------------Inicio formulario ----------------------------------------------------->
<div class="container">

    <div id="body-body" class="row">
        <div class="col-sm-3 ">
            <h6>Reporte de trabjo<h6>
                    <form class="was-validated" validation>
                        <div class="">
                            
                            <textarea style="height: 440px" class="form-control" id="validationTextarea"
                                placeholder="Agregue información aquí" required></textarea>
                            <div class="invalid-feedback">
                                Campo requerido.
                            </div>
                        </div>
                    </form>
        </div>

        <div class="col-sm-6 ">
            <h6>Trabajos asignados</h6>
            <div class="row" id="tabla">
                <table id="testTable"
                    class="table table-hover table-sm align-middle caption-top table-bordered border-primary">
                    <thead class="bg-primary">
                        <tr>
                            <th scope="col">Modelo</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Placa</th>
                            <th scope="col">Tipo de orden</th>
                            <th scope="col">Fecha asignada</th>
                            <th scope="col">Gestión</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Mazda</td>
                            <td>José José</td>
                            <td>ASD524</td>
                            <td>Preventivo</td>
                            <td>10/08/2022</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>Ford</td>
                            <td>Jhonatha José</td>
                            <td>ERT586</td>
                            <td>Correctivo</td>
                            <td>10/09/2022</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>Ford</td>
                            <td>Jhonatha José</td>
                            <td>ERT586</td>
                            <td>Correctivo</td>
                            <td>10/09/2022</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>Ford</td>
                            <td>Jhonatha José</td>
                            <td>ERT586</td>
                            <td>Correctivo</td>
                            <td>10/09/2022</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>Ford</td>
                            <td>Jhonatha José</td>
                            <td>ERT586</td>
                            <td>Correctivo</td>
                            <td>10/09/2022</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>Ford</td>
                            <td>Jhonatha José</td>
                            <td>ERT586</td>
                            <td>Correctivo</td>
                            <td>10/09/2022</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>Ford</td>
                            <td>Jhonatha José</td>
                            <td>ERT586</td>
                            <td>Correctivo</td>
                            <td>10/09/2022</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>Ford</td>
                            <td>Jhonatha José</td>
                            <td>ERT586</td>
                            <td>Correctivo</td>
                            <td>10/09/2022</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>Ford</td>
                            <td>Jhonatha José</td>
                            <td>ERT586</td>
                            <td>Correctivo</td>
                            <td>10/09/2022</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>Ford</td>
                            <td>Jhonatha José</td>
                            <td>ERT586</td>
                            <td>Correctivo</td>
                            <td>10/09/2022</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>Ford</td>
                            <td>Jhonatha José</td>
                            <td>ERT586</td>
                            <td>Correctivo</td>
                            <td>10/09/2022</td>
                            <td><i class="bi bi-gear sett"></i></td>
                        </tr>
                        <tr>
                            <td>Ford</td>
                            <td>Jhonatha José</td>
                            <td>ERT586</td>
                            <td>Correctivo</td>
                            <td>10/09/2022</td>
                            <td><i class="bi bi-gear sett"></i></td>
                        </tr>
                        <tr>
                            <td>Ford</td>
                            <td>Jhonatha José</td>
                            <td>ERT586</td>
                            <td>Correctivo</td>
                            <td>10/09/2022</td>
                            <td><i class="bi bi-gear sett"></i></td>
                        </tr>
                        <tr>
                            <td>Ford</td>
                            <td>Jhonatha José</td>
                            <td>ERT586</td>
                            <td>Correctivo</td>
                            <td>10/09/2022</td>
                            <td><i class="bi bi-gear sett"></i></td>
                        </tr>
                        <tr>
                            <td>Ford</td>
                            <td>Jhonatha José</td>
                            <td>ERT586</td>
                            <td>Correctivo</td>
                            <td>10/09/2022</td>
                            <td><i class="bi bi-gear sett"></i></td>
                        </tr>

                    </tbody>
                </table>
            </div>



            <p>
            <div>
                <div class="row">
                    <h6 for="">Caso</h6>
                </div>

                <div class="row pul">
                    <div class="col ">
                        <div class="row">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">Nombre:</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">Contacto:</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">Vehículo:</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">Nota de revisión:</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">Caso:</label>
                            </div>
                        </div>
                    </div>

                    <div class="col ">
                        <div class="row">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">José:</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">7873553535:</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">Ford</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">El carro solo les falla las lueces
                                    delantera</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">Se realizaba cambio de llantas pero
                                    de
                                    repente sono algo de bajo del carro y luego se balanceaba solo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm mar">
            <div>
                <h6>Lista de inventario</h6>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <p>
                <div class="row" id="tabla">
                    <table id="testTable"
                        class="table table-hover table-sm align-middle caption-top table-bordered border-primary">
                        <thead class="bg-primary">
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Pasta de frenos</td>
                                <td>20</td>
                            </tr>
                            <tr>
                                <td>Rolinera</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>Focos ASD454</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>Losa ceramicas X585</td>
                                <td>150</td>
                            </tr>
                            <tr>
                                <td>Losa ceramicas X585</td>
                                <td>150</td>
                            </tr>
                            <tr>
                                <td>Losa ceramicas X585</td>
                                <td>150</td>
                            </tr>
                            <tr>
                                <td>Losa ceramicas X585</td>
                                <td>150</td>
                            </tr>
                            <tr>
                                <td>Losa ceramicas X585</td>
                                <td>150</td>
                            </tr>
                            <tr>
                                <td>Losa ceramicas X585</td>
                                <td>150</td>
                            </tr>
                            <tr>
                                <td>Losa ceramicas X585</td>
                                <td>150</td>
                            </tr>
                            <tr>
                                <td>Losa ceramicas X585</td>
                                <td>150</td>
                            </tr>
                            <tr>
                                <td>Losa ceramicas X585</td>
                                <td>150</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="cerrarguardar">
                <button class="btn btn-primary" id="liveAlertBtn" type="submit">Cerrar orden</button>
            </div>


        </div>
    </div>
</div>
<!---------------------------Html preventiva----------------------------------------------------->

<!---------------------------Css preventiva------------------------------------------------------>
<style>
    .mar {
        margin: 10px;
    }

    .ser {
        font-size: 18px;
        color: blue;
    }

    .cerrarguardar {
        margin-top: 100px;
        margin-left: 110px;
    }


    body {
        background: linear-gradient(to right, #F0FAFC, #EBEBF6);
    }

    #cabeza {
        color: white;
    }

    #user {
        font-size: 30px;
        margin-right: 10px;

    }

    #tabla {
        height: 250px;
        overflow-y: auto;
        background: linear-gradient(to right, #FFE8C7, #EBEBF6);
        border-radius: 10px 10px;
    }

    table {
        text-align: center;
        font-size: 13px;
    }

    th {
        color: white;
    }

    .cabeza {
        background: linear-gradient(to right, #FFE8C7, #EBEBF6);
        border-radius: 10px 10px;
    }

    .pul {
        background: linear-gradient(to right, #FFE8C7, #EBEBF6);
        border-radius: 10px 10px;
        height: 150px;
        overflow-y: auto;
    }

    #body-body {
        background: whitesmoke;
        border-radius: 10px 10px;
    }
</style>
<!---------------------------Css preventiva------------------------------------------------------>

<!---------------------------javascript preventiva----------------------------------------------->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {

                    event.preventDefault()
                    const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
                    const alert = (message, type) => {
                        const wrapper = document.createElement('div')
                        wrapper.innerHTML = [
                            `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                            `   <div>${message}</div>`,
                            '   <button type="button" id="closes" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                            '</div>'
                        ].join('')

                        alertPlaceholder.append(wrapper)
                    }
                    const alertTrigger = document.getElementById('liveAlertBtn')
                    if (alertTrigger) {
                        alertTrigger.addEventListener('click', () => {
                            alert('Vehículo registrado con exito', 'success')
                        })
                    }
                }
                form.classList.add('was-validated')

            }, false)


        })
    })()




</script>
<!---------------------------javascript preventiva----------------------------------------------->
