@page
@model Taller.App.Front.Pages.RegistrarNuevoVehiculoModel
@{
}
<style>
    .table {
         text-align: center;
        height: 200px;
        whidth 100%;
        height: 460px;
        overflow-y: auto;
        background: linear-gradient(to right, #FFE8C7, #EBEBF6);
        border-radius: 10px 10px;
    
    }

    .notas {
        margin-top: 300px;
    }

    .ediguar {
        margin-top: 40px;
    }

    .foto{
        margin-top: 40px;
    }

</style>


<div class="bg-primary d-flex flex-row-reverse">
    <div class="p-2">
        <span>Mecanico</span>
        <label>Martillo</label>s
    </div>
    <div class="p-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-square"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
        </svg>
    </div>
</div>
<p>


    <!--------------------- inicio formulario --------------------------------------------------------------->

<div class="container-border">

    <div class="row">

        <div class="col-sm-6 border">
            <br>
            <h4>Registrar nuevo vehículo</h4>
            <p>
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col">
                        <label for="validationCustom01" class="form-label">Placa:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="validationCustom01" required>
                        <div class="invalid-feedback">
                            Campo requerido
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <label for="validationCustom02" class="form-label">Marca de vehículo:</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="validationCustom02" required>
                            <option selected disabled value="">Marque una opción.</option>
                            <option>Mazda</option>
                            <option>Jeep</option>
                            <option>Ferrary</option>
                            <option>Ford</option>
                            <option>Chevrolet</option>
                            <option>Otros</option>
                        </select>
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>
                <br>
                    <div class="row">
                    <div class="col">
                        <label for="validationCustom03" class="form-label">Tipo de vehículo?:</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="validationCustom03" required>
                            <option selected disabled value="">Marque una opción.</option>
                            <option>Buseta</option>
                            <option>Microbus</option>
                            <option>Campero</option>
                            <option>Camion</option>
                            <option>Otros</option>
                            <option>Mayor a 6</option>
                        </select>
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <label for="validationCustom04" class="form-label">Modelo del vehículo:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="validationCustom04" required>
                        <div class="invalid-feedback">
                            este campo es obligatorio
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="validationCustom05" class="form-label">N° pasajeros:</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="validationCustom05" required>
                            <option selected disabled value="">Marque una opción.</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>Mayor a 6</option>
                        </select>
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>
                    <div class="col">
                        <label for="validationCustom05" class="form-label">Cilindraje:</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="validationCustom06" required>
                            <option selected disabled value="">Marque una opción.</option>
                            <option>100</option>
                            <option>115</option>
                            <option>200</option>
                            <option>220</option>
                            <option>Otros</option>
                        </select>
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="validationCustom07" class="form-label">Pais de Origen:</label>
                    </div>
                    <br>
                    <div class="col">
                        <select class="form-select" id="validationCustom07" required>
                            <option selected disabled value="">Marque una opción.</option>
                            <option>Colombia</option>
                            <option>EEUU</option>
                            <option>Venezuela</option>
                            <option>Mexico</option>
                            <option>Brasil</option>
                            <option>Otros</option>
                        </select>
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>
                    <br>
                    <div class="col">
                        <label for="validationCustom08" class="form-label">¿Tiene accesorios el vehículo?:</label>
                    </div>
                    <br>
                    <div class="col">
                        <select class="form-select" id="validationCustom08">
                            <option selected disabled value="">No obligatorio.</option>
                            <option>Si</option>
                            <option>No</option>
                        </select>
                        <div class="invalid-feedback">
                        </div>
                        <br>
                        <br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <label for="validationCustom09" class="form-label">¿Cúales?:</label>
                    </div>
                    <br>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="No obligatorio" id="validationCustom09">
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Acepto los terminos y condiciones
                            </label>
                            <div class="invalid-feedback">
                                Debe aceptar los terminos y condiciones para continuar.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <p>
                    <div class="col-12">
                        <button class="btn btn-primary" id="liveAlertBtn" type="submit">Registrar</button>
                    </div>
                </div>
            </form>
            </p>
        </div>

        <div class="col-sm-6 border ">
            <div class="needs-validation" novalidate>
                <br>
                <h4>Fecha de registro</h4>
                <input type="date" class="form-control" id="validationCustom01" required>
                <div class="invalid-feedback">
                    Campo requerido
                </div>
            </div>
            <div class="col-sm-12">
                    <div class="foto">
                         <img width="100%" height="auto" src="https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                         
                    </div>
                    <br>
            </div> 
        </div>

       <div class="row base">
        <div id="tabla" class="responsive-border">
            <div class="overflow-auto"></div>
            <table id="testTable"
                class="table table-hover table-sm align-middle caption-top table-bordered border-primary">
                    <br>
                    <h4>Vehículos registrados</h4>

                    @*buscador*@
                    <div class="d-flex h-5 justify-content-center min-vh-0 user-select-none">
                        <div class="h-25 search">
                            <input type="text" class="search-input" placeholder="Buscar por Número..." name="">
                            <a href="#" class="search-icon"> <i class="fa fa-search"></i> </a>
                        </div>
                    </div>
                    <br>
                    <br>
                    <thead class="bg-primary">
                        <tr>
                            <th scope="col">Placa</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Cilindraje</th>
                            <th scope="col">Tipo </th>
                            <th scope="col">N. pasajeros</th>
                            <th scope="col">Accesorios adicionales</th>
                            <th scope="col"> Action</th>
                             
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr>
                            <td>SDF485</td>
                            <td>Mazda</td>
                            <td>2019</td>
                            <td>200</td>
                            <td>Camioneta</td>
                            <td>5</td>
                            <td>Tapetes de lujo</td>
                            <td> <button class="action">Editar</button>
                                <form method="POST">
                                    <button class="action" asp-page-handler="Delete" asp-route-id="">Eliminar</button>
                                </form>
                            </td>

                        </tr>
                        <tr>
                           <td>JHR589</td>
                            <td>Ford</td>
                            <td>2021</td>
                            <td>1800</td>
                            <td>Automovil</td>
                            <td>4</td>
                            <td>Rines</td>
                            <td> <button class="action">Editar</button>
                                <form method="POST">
                                    <button class="action" asp-page-handler="Delete" asp-route-id="">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>MLV125</td>
                            <td>Renault</td>
                            <td>2020</td>
                            <td>1800</td>
                            <td>Automovil</td>
                            <td>4</td>
                            <td>Exploradoras</td>
                            <td> <button class="action">Editar</button>
                                <form method="POST">
                                    <button class="action" asp-page-handler="Delete" asp-route-id="">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
            </table>
           
        </div>

    </div>
</div>



    <style>

    </style>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()

        const alertPlaceholder = document.getElementById('liveAlertPlaceholder')

            const alert = (message, type) => {
            const wrapper = document.createElement('div')
            wrapper.innerHTML = [
                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                `   <div>${message}</div>`,
                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>'
            ].join('')

            alertPlaceholder.append(wrapper)
            }

            const alertTrigger = document.getElementById('liveAlertBtn')
            if (alertTrigger) {
            alertTrigger.addEventListener('click', () => {
                alert('Vehículo registrado con exito', 'success')
            })
            }    


    </script>
<!--------------------- fin formulario --------------------------------------------------------------->
