@page
@model Taller.app.Front.Pages.RegistroPropietarioModel
@{
}
<form action="">
<h3>Datos Propietario</h3>

<div class="d-inline-flex p-2">   
    <div class="mb-3 me-3" >
        <label for="exampleFormControlInput1" class="form-label">Cedula</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Nombre</label>
        <input class="form-control" id="exampleFormControlTextarea1" rows="3"></input>
    </div>
</div>

<h3>Datos Vehiculo</h3>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Placa</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Modelo</label>
  <input class="form-control" id="exampleFormControlTextarea1" rows="3"></input>
</div>
</form>
