@page
@model Taller.app.Front.Pages.HistorialOrdenesModel
@{
}

<!-----------ini de cabeza-------------------------------------------------------------------------->
    <div id="cabeza" class="bg-primary d-flex flex-row-reverse">
            <div class="p-1">
                <i id="user" class="bi bi-people-fill"></i>
                <span>Cliente</span>
                <label>Andres</label>
            </div>
    </div>
    <p>
<!-----------Fin de cabeza-------------------------------------------------------------------------->


<!-----------Inicio de formulario------------------------------------------------------------------->
    <meta charset = "utf-8">
    <div class="row">
        <div class="col-sm-10">
            <div class="row">
                <label for="">Historial de ordenes</label>
            </div>
            
            <div class="row cabeza border">
                <div class="col ">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <label for="">Desde:</label>
                            </div>
                            <div class="row">
                                <label for="">Hasta:</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <input class="dates" type="date" name="" id="">
                            </div>
                            <div class="row">
                                <input class="dates" type="date" name="" id="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <label for="">Cliente:</label>
                            </div>
                            <div class="row">
                                <label for="">Técnico:</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div >
                                    <select class="form-select form-select-sm" name="" id="">
                                        <option selected disabled value="">Buscar</option>
                                        <option value="">Mark</option>
                                        <option value="">Tom</option>
                                        <option value="">Fredi Mercury</option>
                                        <option value="">Meliza</option>
                                    </select>

                                </div>
                            </div>
                            <div class="row">
                                <div >
                                    <select class="form-select form-select-sm" name="" id="">
                                        <option selected disabled value="">Buscar</option>
                                        <option value="">Marcak/78545</option>
                                        <option value="">Mariel/98645</option>
                                        <option value="">Karol/96325</option>
                                        <option value="">Jhonatan/87452</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row base">
                <div id="tabla" class="container border">
                    <table  id="testTable" class="table table-hover table-sm align-middle caption-top table-bordered border-primary">
                        <caption>Base de datos</caption>
                        <thead class="bg-primary">
                            <tr>
                                <th scope="col">N° Cliente</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Placa</th>
                                <th scope="col">Mecanico</th>
                                <th scope="col">Id Mecanico</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Entrada</th>
                                <th scope="col">Salida</th>
                                <th scope="col">Caso</th>
                                <th scope="col">Solución</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1524</td>
                                <td>Mark</td>
                                <td>Jeep</td>
                                <td>SDF524</td>
                                <td>Miguel Bosé</td>
                                <td>458457</td>
                                <td>Preventivo</td>
                                <td>10/09/2022</td>
                                <td>12/09/2022</td>
                                <td>Cambio de aceite</td>
                                <td>Se cambia aceite por Ml100</td>
                            </tr>
                            <tr>
                                <td>86867</td>
                                <td>Tom</td>
                                <td>Chevrolet</td>
                                <td>DFE524</td>
                                <td>Pedro Pedro</td>
                                <td>5896</td>
                                <td>Correctivo</td>
                                <td>15/08/2022</td>
                                <td>12/09/2022</td>
                                <td>cambio de motor</td>
                                <td>Se cambia todo el motor carro ok</td>
                            </tr>
                            <tr>
                                <td>4758</td>
                                <td>Fredi Mercury</td>
                                <td>Mazda</td>
                                <td>QWE321</td>
                                <td>Justin Bieber</td>
                                <td>75856</td>
                                <td>Correctivo</td>
                                <td>09/09/2022</td>
                                <td>12/09/2022</td>
                                <td>Pintada de capó</td>
                                <td>Se pinta en color miel</td>
                            </tr>
                            <tr>
                                <td>4852</td>
                                <td>Fredi Mercury</td>
                                <td>Mazda</td>
                                <td>QWE321</td>
                                <td>Justin Bieber</td>
                                <td>75856</td>
                                <td>Correctivo</td>
                                <td>09/09/2022</td>
                                <td>12/09/2022</td>
                                <td>Pintada de capó</td>
                                <td>Se pinta en color miel</td>
                            </tr>
                            <tr>
                                <td>14587</td>
                                <td>Fredi Mercury</td>
                                <td>Mazda</td>
                                <td>QWE321</td>
                                <td>Justin Bieber</td>
                                <td>75856</td>
                                <td>Correctivo</td>
                                <td>09/09/2022</td>
                                <td>12/09/2022</td>
                                <td>Pintada de capó</td>
                                <td>Se pinta en color miel</td>
                            </tr>
                            <tr>
                                <td>58963</td>
                                <td>Fredi Mercury</td>
                                <td>Mazda</td>
                                <td>QWE321</td>
                                <td>Justin Bieber</td>
                                <td>75856</td>
                                <td>Correctivo</td>
                                <td>09/09/2022</td>
                                <td>12/09/2022</td>
                                <td>Pintada de capó</td>
                                <td>Se pinta en color miel</td>
                            </tr>
                            <tr>
                                <td>747</td>
                                <td>Fredi Mercury</td>
                                <td>Mazda</td>
                                <td>QWE321</td>
                                <td>Justin Bieber</td>
                                <td>75856</td>
                                <td>Correctivo</td>
                                <td>09/09/2022</td>
                                <td>12/09/2022</td>
                                <td>Pintada de capó</td>
                                <td>Se pinta en color miel</td>
                            </tr>
                            <tr>
                                <td>585858</td>
                                <td>Fredi Mercury</td>
                                <td>Mazda</td>
                                <td>QWE321</td>
                                <td>Justin Bieber</td>
                                <td>75856</td>
                                <td>Correctivo</td>
                                <td>09/09/2022</td>
                                <td>12/09/2022</td>
                                <td>Pintada de capó</td>
                                <td>Se pinta en color miel</td>
                            </tr>
                            <tr>
                                <td>1524</td>
                                <td>Fredi Mercury</td>
                                <td>Mazda</td>
                                <td>QWE321</td>
                                <td>Justin Bieber</td>
                                <td>75856</td>
                                <td>Correctivo</td>
                                <td>09/09/2022</td>
                                <td>12/09/2022</td>
                                <td>Pintada de capó</td>
                                <td>Se pinta en color miel</td>
                            </tr>
                            <tr>
                                <td>1524</td>
                                <td>Fredi Mercury</td>
                                <td>Mazda</td>
                                <td>QWE321</td>
                                <td>Justin Bieber</td>
                                <td>75856</td>
                                <td>Correctivo</td>
                                <td>09/09/2022</td>
                                <td>12/09/2022</td>
                                <td>Pintada de capó</td>
                                <td>Se pinta en color miel</td>
                            </tr>
                            <tr>
                                <td>4747</td>
                                <td>Fredi Mercury</td>
                                <td>Mazda</td>
                                <td>QWE321</td>
                                <td>Justin Bieber</td>
                                <td>75856</td>
                                <td>Correctivo</td>
                                <td>09/09/2022</td>
                                <td>12/09/2022</td>
                                <td>Pintada de capó</td>
                                <td>Se pinta en color miel</td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="col-sm-2">
            <div class="row imagen">
                <img onclick="tableToExcel('testTable', 'W3C Example Table')" value="Export to Excel"  id="excel" src="https://i-xport.com/wp-content/uploads/2017/01/excel-icon.png" alt="excel">
            </div>
        </div>

    </div>
<!-----------Htmlfin-------------------------------------------------------------------------------->

<!-----------Cssinicio------------------------------------------------------------------------------>
    <style>
        #cabeza {
            color: white;
        }

        #user {
            font-size: 30px;
            margin-right: 10px;
        }
        body{
            background:linear-gradient(to right, #F0FAFC, #EBEBF6);
        }

        .imagen{
            margin-left: ;
            width: 90px;
            height: 40px;
            margin-top: 440px;
            cursor: pointer;
        }

        #tabla{
            height: 400px;
            overflow-y: auto;
            background:linear-gradient(to right, #FFE8C7, #EBEBF6);
            border-radius: 10px 10px;
        }

        table{
            text-align: center;
            font-size: 13px;
        }

        th{
            color: white;
        }

        .cabeza{
            background:linear-gradient(to right, #FFE8C7, #EBEBF6);
            border-radius: 10px 10px;
        }


    </style>
<!-----------Cssfin--------------------------------------------------------------------------------->

<!-----------Jslinicio------------------------------------------------------------------------------>

    <script>
        var tableToExcel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,'
                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
            return function (table, name) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                window.location.href = uri + base64(format(template, ctx))
            }
        })()
    </script>

<!-----------Jsfin---------------------------------------------------------------------------------->
