@page
@model Taller.App.Front.Pages.GestorVehiculosModel
@{
}

   <div class="d-flex flex-row-reverse">
        <div class="p-2">
            <span>Supervisor</span>  
        </div>
        <div class="p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-person-square" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
                    </svg>
        </div>
     </div>
    <div class="container">
        
        <div class="row border">
            <div class="col-sm-6 border">
                <div class="ColGestorVehiculosRegistrados">
                    <h3 >Vehiculos registrados</h3>
                    <p>
                    <form class="form-search form-inline">
                        <input type="text" class="search-query" placeholder="Search..." />
                    </form>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Placa </th>
                            <th scope="col">Propietario</th>
                            <th scope="col">Tipo de Vehiculo</th>
                            <th scope="col">Fecha de registro</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">SDC421</th>
                            <td>Jose Luis Perales</td>
                            <td>Automovil</td>
                            <td>10/08/2019</td>
                          </tr>
                          <tr>
                            <th scope="row">JKL564</th>
                            <td>Pepa Pombo</td>
                            <td>Automovil</td>
                            <td>05/12/2014</td>
                          <tr>
                            <th scope="row">BBA123</th>
                            <td>Lola Velez</td>
                            <td>Camioneta</td>
                            <td>21/08/2014</td>
                          </tr>
                          <tr>
                            <th scope="row">TRD741</th>
                            <td>Juan Correa</td>
                            <td>Camioneta</td>
                            <td>11/10/2012</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 border">
                <div class="row ColGestorMecanico">
                    <h3 >Gestor Mecanico</h3>
                <p>
                <form>
                    <div class="row border ">
                        <div class="col border">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Tipo de documento</option>
                                <option value="CC">Cedula de ciudadania</option>
                                <option value="CE">Cedula de Extranjeria</option>
                            </select>
                        </div>
                        <div class="col border" >

                                    <label for="exampleInputNumeroDocumento" class="col">N.de Documento</label>
                                    <input type="NumeroDocumento" class="col" id="exampleInputNumeroDocumento" Value="30.284.809">
                                                    

                        </div>
                    </div>
                    <div class="row">
                        <label for="exampleInputNombreyApellido" class="col border">Nombre y Apellido</label>
                        <input type="Nombre y Apellido" class="col border" id="exampleInputNombreyApellido" Value="Jose Alberto Ríos">
                    </div>
                    <div class="row">
                        <label for="Telefono" class="col border">Teléfono</label>
                        <input type="number" class="col border" id="Tel" value="3206898677">
                    </div>           
                    <div class="row">
                        <label for="Nacimiento" class="col border">Fecha de nacimiento</label>
                        <input type="NumeroTelefonico" class="col border" id="exampleNumeroTelefonico" Value="08/22/1959">
                    </div>
                    <div class="row">
                        <label for="correo" class="col border">Correo Electronico</label>
                        <input type="CorreoElectronico" class="col border" id="CorreoElectronico" Value="jose.rios@gmail.com">
                    </div>
                    <div class="row">
                        <label for="Estudios" class="col border">Nivel de Estudios</label>
                        <input type="CorreoElectronico" class="col border" id="Estudios" Value="Técnico profesional">
                    </div>
                    <div class="row">
                        <label for="Estudios" class="col border">Especialidad</label>
                        <input type="electrico" class="col border" id="Especialidad" Value="Eléctrico">
                    </div>
                    <div class="row">
                        <label for="DireccionFisica" class="col border">Direccion Fisica</label>
                        <input type="DireccionFisica" class="col border" id="DireccionFisica">
                    </div>
                    </form>
                    <div class="row">
                        <div class="botonActualizar">
                            <p><button type="button">Eliminar</button> <button type="button">Guardar</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
