@page
@model Taller.app.Front.Pages.GestionUsuarioModel
@{
}

<!--------------------------Css------------------------------------------------------------->
<style>
    #cabeza {
        color: white;
    }

    #user {
        font-size: 30px;
        margin-right: 10px;

    }

    .container-fluid {
        background: blue;
        background: linear-gradient(to right, #EBEBF6, #949AF3);
        border-radius: 10px;
    }


    .table {
        text-align: center;
    }

    .notas {
        margin-top: 300px;
    }

    .ediguar {
        margin-top: 150px;
    }

    <style>.table {
        text-align: center;
    }

    .notas {
        margin-top: 300px;
    }

    .ediguar {
        margin-top: 150px;
    }

    .foto {
        margin-top: 40px;
    }
</style>
<!--------------------------Css------------------------------------------------------------->

<!--------------------------html head------------------------------------------------------->
<div id="cabeza" class="bg-primary d-flex flex-row-reverse">
    <div class="p-1">
        <i id="user" class="bi bi-people-fill"></i>
        <span>Cliente</span>
        <label>Andres</label>
    </div>
</div>
<p>
<!--------------------------html head------------------------------------------------------->

<!------------------------------ html------------------------------------------------------->
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-6">
            <div>
                <h4>Actualizar Datos</h4>
            </div>
            <p>
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="validationCustom01" class="form-label">Tipo de Documento:</label>
                        </div>
                        <br>
                        <br>
                        <div class="col-sm-6">
                            <select class="form-select" id="validationCustom01" required>
                                <option selected disabled value="">Marque una opción.</option>
                                <option>Cedula de Ciudadanía</option>
                                <option>Cedula de Extranjería</option>
                                <option>Pasaporte</option>
                                <option>Otros</option>
                            </select>
                            <div class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom02" class="form-label">Numero de Identificación:</label>
                        </div>
                        <br>
                        <br>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom02" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom04" class="form-label">Fecha de Nacimiento:</label>
                        </div>
                        <div class="col">
                            <input type="date" class="form-control" id="validationCustom04" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom05" class="form-label">Correo Electrónico:</label>
                        </div>
                        <div class="col">
                            <input type="email" class="form-control" id="validationCustom05" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom03" class="form-label">Celular:</label>
                        </div>
                        <div class="col">
                            <input type="tel" class="form-control" id="validationCustom03" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom08" class="form-label">Dirección de Residencia:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom08" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom08" class="form-label">Ciudad:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom08" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                <label class="form-check-label" for="invalidCheck">
                                    Acepto los términos y condiciones
                                </label>
                                <div class="invalid-feedback">
                                    Debe aceptar los términos y condiciones para continuar.
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <p>
                        <div class="col-12">
                            <button class="btn btn-primary" id="liveAlertBtn" type="submit">Registrar</button>
                            <a href="../web html"></a>
                            <button class="btn btn-primary" id="liveAlertBtn" type="submit">Actualizar</button>
                        </div>
                    </div>
                </div>

            </form>
            </p>
        </div>
        <div class="col-sm-6">
            <form class="needs-validation" novalidate action="" method="post">
                <div class="needs-validation" novalidate>
                    <h4>Fecha de Actualización</h4>
                    <input type="date" class="form-control" id="validationCustom01" required>
                    <div class="invalid-feedback">
                        Campo requerido
                    </div>
                </div>
            </form>

            <div class="col-sm-12">
                <div class="foto">
                    <img width="100%" height="auto"
                        src="https://images.pexels.com/photos/2265488/pexels-photo-2265488.jpeg?auto=compress&cs=tinysrgb&w=600"
                        alt="">
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<!------------------------------ html------------------------------------------------------->

<!------------------------------ js -------------------------------------------------------->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {

                    event.preventDefault()
                    const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
                    const alert = (message, type) => {
                        const wrapper = document.createElement('div')
                        wrapper.innerHTML = [
                            `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                            `   <div>${message}</div>`,
                            '   <button type="button" id="closes" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                            '</div>'
                        ].join('')

                        alertPlaceholder.append(wrapper)
                    }
                    const alertTrigger = document.getElementById('liveAlertBtn')
                    if (alertTrigger) {
                        alertTrigger.addEventListener('click', () => {
                            alert('Vehículo registrado con exito', 'success')
                        })
                    }
                }
                form.classList.add('was-validated')

            }, false)


        })
    })()
</script>
<!------------------------------ js -------------------------------------------------------->
