@page
@model Taller.App.Front.Pages.RegistrarInfoNuevoUsuarioModel
@{
}

<style>
    body{
        background: blue;
        background: linear-gradient(to right, #949AF3, #EBEBF6);
    }

    .container{
        border: 10px;
        border-color: #949AF3;
        border-radius: 10px;
    }


    .bg{
        background-image: url(https://www.lubricantesenvenezuela.com/wp-content/uploads/2020/01/mantenimiento-de-vehiculos.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 1px;
        

    }
.button{
    padding: 20px;
}
    
</style>

<body>
    <div class="container w-95 bg-light">
        <div class="row">
            <div class="col bg">
                  </div>

            <div class="col">
                <div class="text-end">
                    <img src="" alt="">
                </div>


                <!--Registro-->

                <form action="#" class="Registro">
                     <h4 class="fw-bold text-center">REGISTRO DE USUARIO</h4>
                     <div class="row">
                        <div class="col-sm-6">
                            <label for="validationCustom01" class="form-label">Tipo de Documento</label>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-select" id="validationCustom08" required>
                                <option selected disabled value="">Seleccione una opción</option>
                                <option>Cedula de Ciudadanía</option>
                                <option>Cedula Extranjería</option>
                                <option>Pasaporte</option>
                                <option>Otros</option>
                            <div class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom02" class="form-label">Numero de Documento</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom04" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom03" class="form-label">Nombres</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom05" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom06" class="form-label">Apellidos</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom06" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom07" class="form-label">Correo Electrónico</label>
                        </div>
                        <div class="col">
                            <input type="email" class="form-control" id="validationCustom07" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom07" class="form-label">Celular</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom07" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br>  
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom07" class="form-label">Direccion de Residencia</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom07" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom07" class="form-label">Ciudad</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom07" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br>    
                     <div class="row">
                        <div class="col">
                            <label for="validationCustom07" class="form-label">Contraseña</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom07" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br>  
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom07" class="form-label">Confirmacion de Contraseña</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom07" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br> 
                    <div class="button col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                    <button type="submit" class="btn btn-link">Volver</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>