@page
@model Taller.App.Front.Pages.RegistrarInfoNuevoUsuarioModel
@{
}

<style>
    body{
        background: blue;
        background: linear-gradient(to right, #EBEBF6,#949AF3);
    }

    .container{
        border: 10px;
        border-color: #949AF3;
        border-radius: 10px;
    }


    h4{
        color: blue;
    }


    .bg{
        background-image: url(https://www.lubricantesenvenezuela.com/wp-content/uploads/2020/01/mantenimiento-de-vehiculos.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 1px;
        border-radius: 10px;
     }

    .button{
        padding: 20px;
    }
    
</style>

<body>
    <div class="container w-95 bg-light">
        <div class="row">

            <div class="col bg">
                  </div>

            <div class="col">
                <div class="text-end">
                    <img src="" alt="">
                </div>


                <!--Registro-->

                <form action="#" class="Registro">
                     <h4 class="fw-bold text-center">REGISTRO DE USUARIO</h4>
                     <div class="row">
                        <div class="col-sm-6">
                            <label for="validationCustom01" class="form-label">Tipo de Documento:</label>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-select" id="validationCustom01" required>
                                <option selected disabled value="">Marque una opción</option>
                                <option>Cedula de Ciudadanía</option>
                                <option>Cedula Extranjería</option>
                                <option>Pasaporte</>option>
                                <option>Otros</option>
                            </select>
                            <div class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom02" class="form-label">Número de Identificación:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom02" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom03" class="form-label">Nombres</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom05" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom06" class="form-label">Apellidos</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom06" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom07" class="form-label">Correo Electrónico</label>
                        </div>
                        <div class="col">
                            <input type="email" class="form-control" id="validationCustom07" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom07" class="form-label">Celular</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom07" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br>  
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom07" class="form-label">Dirección de Residencia</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom07" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br> 
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom07" class="form-label">Ciudad</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="validationCustom07" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br>    
                     <div class="row">
                        <div class="col">
                            <label for="validationCustom07" class="form-label">Contraseña</label>
                        </div>
                        <div class="col">
                            <input type="password" class="form-control" id="validationCustom07" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br>  
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom07" class="form-label">Confirmación de Contraseña</label>
                        </div>
                        <div class="col">
                            <input type="password" class="form-control" id="validationCustom07" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <br> 
                    <div class="button col-sm-12 text-center">
                    <a class="btn btn-primary" href="#" role="button">Registrarse</a>
                    <a class="btn btn-secondary" href="#" role="button">Volver</a>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>