@page
@model Taller.app.Front.Pages.CitaPrioritariaModel
@{
}
<div class="container border">
    <div class="row border">
 <!---------columna 1 ------------------->
        <div class="col border">
            <div class="row border align-items-center">
                <span>Cita Prioritaria</span>
            </div>




            </div>

        </div>
<!---------columna 2 ------------------->
        <div class="col border">

            <div class="col border">

                <label for="">Cliente</label>

            </div>
            <div class="col border">

            </div>

        </div>

    </div>
</div>