@page
@model Taller.app.Front.Pages.HistorialTrabajoModel
@{
}

<style>
    .table {
        text-align: center;
        border: 1px solid black;
    }

    .tabla {
        border: 1px solid black;
        
    }


    .notas {
        margin-top: 300px;
    }

    .ediguar {
        margin-top: 40px;
      
    }

    .foto{
        margin-top: 20px;
    }

    .form-group col{
        text-align: center;
    }
   
</style>


<div class="bg-primary d-flex flex-row-reverse">
    <div class="p-2">
        <span>Mecanico </span>
        <label>Martillo</label>
    </div>
    <div class="p-2 responsive-border">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-square"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
        </svg>
    </div>
</div>

<p>


    <!---------------------------Html-User preventiva------------------------------------------------>

    <!---------------------------Html preventiva----------------------------------------------------->

<div class="container">
    <div class="row">
            <h1>Historial de trabajo </h1>
        <div class="col-sm-5">  
            <div class="table-responsive border">
                <table class="table">
                    <thead>
                        <br>
                        <h4>Ordenes trabajadas</h4>
                        <div class= "input-group rounded">
                            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                            <span class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <br>
                        <tr>
                            <th>Placa del vehículo</th>
                            <th>Identificación Mecánico Encargado</th>
                            <th>Nombre Mecánico Encargado</th>
                            <th>Fecha de trabajo asignado </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PTA534</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>30/08/22</td>
                        </tr>

                        <tr>
                            <td>SDX124</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>26/08/22</td>
                        </tr>

                        <tr>
                            <td>JTG897</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>20/08/22</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div> 
        </div>       
        <div class="col-sm-4 border">
                <table class="tabla">
                    <br>
                    <h4>Datos de orden </h4>
                    <br>
                    <div class="card">
                        <div class="card-header">
                            Descripción de Orden 
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Placa:</li>
                            <li class="list-group-item">Marca del vehículo: </li>
                            <li class="list-group-item">Color del vehículo:</li>
                            <li class="text area">Caso:</li>
                            <div class="form-text col">
                            <label for="exampleInputReportedetrabajo" >Reporte de trabajo:</label>
                            <input type="text" class="form-control" id="exampleInputReportedetrabajo" placeholder="Ingrese su Reporte de trabajo Aquí">
                            </div>
                            </div>
                        </ul>
                    </div>
                    
                    <div class="ediguar">
                    <button class="btn btn-primary" type="submit">Reabrir Caso</button>
                    
                   
                    </div>
                </table>    
        </div>
        
        <div class="col-sm-3 border">
                <div class="needs-validation" novalidate>
                    <br>
                    <h4>Fecha de Solicitud</h4>
                    <input type="date" class="form-control" id="validationCustom01" required>
                    
                </div>
                 <div class="col-sm-12">
                    <div class="foto">
                         <img width="100%" height="auto"  src="https://images.pexels.com/photos/4489737/pexels-photo-4489737.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                         
                    </div>
                    <br>
            </div> 
        </div>
    </div>
</div>

          

            