@page
@model Taller.app.Front.Pages.HistorialTrabajoModel
@{
}

<!---------------------------Html-head preventiva------------------------------------------------>
<div id="cabeza" class="bg-primary d-flex flex-row-reverse">
    <div class="p-1">
        <i id="user" class="bi bi-people-fill"></i>
        <span>Mecanico</span>
        <label>Martillo</label>
    </div>
</div>
<p>
<!---------------------------Html-head preventiva------------------------------------------------>

    <!---------------------------Html preventiva----------------------------------------------------->

<div id="body-body" class="container">
    <div   class="row">

        <div class="col-sm-4 ">
            <h5>Ordenes trabajadas</h5>
            <br>
            <form class="d-flex border" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <br>
            <div class="row" id="tabla">
                <table id="testTable"
                    class="table table-hover table-sm align-middle caption-top table-bordered border-primary">
                    <thead class="bg-primary">
                        <tr>
                            <th>Placa</th>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Fecha asignado</th>
                            <th>Gestión</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PTA534</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>30/08/22</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>

                        <tr>
                            <td>SDX124</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>26/08/22</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>

                        <tr>
                            <td>JTG897</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>20/08/22</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>JTG897</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>20/08/22</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>JTG897</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>20/08/22</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>JTG897</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>20/08/22</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>JTG897</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>20/08/22</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>JTG897</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>20/08/22</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>JTG897</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>20/08/22</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>JTG897</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>20/08/22</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>JTG897</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>20/08/22</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>JTG897</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>20/08/22</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>JTG897</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>20/08/22</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>JTG897</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>20/08/22</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>
                        <tr>
                            <td>JTG897</td>
                            <td>7254896</td>
                            <td>Martillo </td>
                            <td>20/08/22</td>
                            <td><i class="bi bi-gear ser"></i></td>
                        </tr>

                    </tbody>
                </table>
            </div>







        </div>

        <div class="col-sm-5 mar ">
            <div>
                <div class="row">
                    <h5 for="">Caso</h5>
                </div>

                <div class="row pul">
                    <div class="col ">
                        <div class="row">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">Nombre:</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">Contacto:</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">Vehículo:</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">Nota de revisión:</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">Caso:</label>
                            </div>
                        </div>
                    </div>

                    <div class="col ">
                        <div class="row">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">José:</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">7873553535:</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">Ford</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">El carro solo les falla las lueces
                                    delantera</label>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <label for="validationCustom07" class="form-label">Se realizaba cambio de llantas pero
                                    de
                                    repente sono algo de bajo del carro y luego se balanceaba solo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ediguar">
                <button id="liveAlertBtn" class="btn btn-primary" type="submit">Reabrir Caso</button>
            </div>
        </div>


        <div class="col">
            <img width="100%" height="auto"
                src="https://images.pexels.com/photos/4489737/pexels-photo-4489737.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="">
        </div>


    </div>

    <!---------------------------Html preventiva----------------------------------------------------->

    <!----------------------------Css-User preventiva------------------------------------------------>
    <style>

        .ediguar{
            display: block;
            margin-top: 100px;
            
        }

        .mar {
            margin-left: 9px;
        }

        .ser {
            font-size: 18px;
            color: blue;
        }

        body {
            background: linear-gradient(to right, #F0FAFC, #EBEBF6);
        }

        #cabeza {
            color: white;
        }

        #user {
            font-size: 30px;
            margin-right: 10px;

        }

        #tabla {
            height: 250px;
            overflow-y: auto;
            background: linear-gradient(to right, #FFE8C7, #EBEBF6);
            border-radius: 10px 10px;
        }

        table {
            text-align: center;
            font-size: 13px;
        }

        th {
            color: white;
        }

        .cabeza {
            background: linear-gradient(to right, #FFE8C7, #EBEBF6);
            border-radius: 10px 10px;
        }

        .pul {
            background: linear-gradient(to right, #FFE8C7, #EBEBF6);
            border-radius: 10px 10px;
            height: 200px;
            overflow-y: auto;
        }

        #body-body {
            background: whitesmoke;
            border-radius: 10px 10px;
        }
    </style>
    <!----------------------------Css-User preventiva------------------------------------------------>

    <!-----------------------------Js-User preventiva------------------------------------------------>
    <!-----------------------------Js-User preventiva------------------------------------------------>