@page
@model Taller.app.Front.Pages.CitaPrioritariaModel
@{
}

<div id="cabeza" class="bg-primary d-flex flex-row-reverse">
    <div class="p-1">
        <i id="user" class="bi bi-people-fill"></i>
        <span>Supervisor </span>
        <label>Pedro</label>
    </div>
</div>
<p>
    <!--------------------------Inicio formulario-------------------------------------------------------------------->

<div class="row">
    <div class="cita col-sm-4 border">
        <div class="col">
            <div id="tabla " div class="row responsive-border">
                <h3>Cita prioritaria</h3>
            </div>
            <br>
            <div>
                <form>
                    <div class="row">
                        <div class="col">
                            <select class="form-select" id="" required>
                                <option selected disabled value="">Placa</option>
                                <option>SWD489</option>
                                <option>DER625</option>
                                <option>SDE968</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="">Cliente</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="" placeholder="Nombre del cliente" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="">Tipo</label>
                        </div>
                        <div class="col">
                            <label class="form-control" placeholder="Tipo de vehículo" for="">tipo de vehículo</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="">Marca</label>
                        </div>
                        <div class="col">
                            <label class="form-control" placeholder="Tipo de vehículo" for="">Marca del vehículo</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="">Modelo</label>
                        </div>
                        <div class="col">
                            <label class="form-control" placeholder="Tipo de vehículo" for="">Modelo del
                                vehículo</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="">Capacidad</label>
                        </div>
                        <div class="col">
                            <label class="form-control" placeholder="Tipo de vehículo" for="">Capacidad del
                                vehículo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="">Cede</label>
                        </div>
                        <div class="col">
                            <select class="form-select" id="" required>
                                <option selected disabled value="">Marque una opción</option>
                                <option>Medellin / Cr56c n°85-115</option>
                                <option>Bogotá / Cr85 n°96-888</option>
                                <option>Barranquilla / Cll 78 n°85-10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="">Técnico asignado</label>
                        </div>
                        <div class="col">
                            <label class="form-control" placeholder="Tipo de cehículo" for="">N° del técnico
                                asignado</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <label for="">Caso</label>
            <div class="container">

                <textarea name="" id="" cols="40" rows="3"></textarea>

            </div>
        </div>
    </div>

    <div id="data" class="col-sm-6">
        <div class="row tecnico">
            <div class="row">
                <div class="row base">
                    <div id="tabla" class="container border">
                        <table id="testTable"
                            class="table table-hover table-sm align-middle caption-top table-bordered border-primary">
                            <caption>Técnicos disponibles</caption>
                            <thead class="bg-primary">
                                <tr>
                                    <th scope="col">N° Empleado</th>
                                    <th scope="col">Nombre y apellido</th>
                                    <th scope="col">Turno programado</th>
                                    <th scope="col">Especialidad</th>
                                    <th scope="col"> Gestión</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>QA5425353</td>
                                    <td>Marc Antoni de jesús</td>
                                    <td>8:30am - 5:30pm</td>
                                    <td>Latoneria y pintura</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>WE8574773</td>
                                    <td>José Luis Pelaez</td>
                                    <td>11:30am - 8:30pm</td>
                                    <td>Elétrico</td>
                                    <td><i class="bi bi-gear"></i></td>


                                </tr>
                                <tr>
                                    <td>RT54875102</td>
                                    <td>José Luis Pelaez</td>
                                    <td>6:30am - 3:30pm</td>
                                    <td>General</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>QA5425353</td>
                                    <td>Marc Antoni de jesús</td>
                                    <td>8:30am - 5:30pm</td>
                                    <td>Latoneria y pintura</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>WE8574773</td>
                                    <td>José Luis Pelaez</td>
                                    <td>11:30am - 8:30pm</td>
                                    <td>Elétrico</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>RT54875102</td>
                                    <td>José Luis Pelaez</td>
                                    <td>6:30am - 3:30pm</td>
                                    <td>General</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>QA5425353</td>
                                    <td>Marc Antoni de jesús</td>
                                    <td>8:30am - 5:30pm</td>
                                    <td>Latoneria y pintura</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>WE8574773</td>
                                    <td>José Luis Pelaez</td>
                                    <td>11:30am - 8:30pm</td>
                                    <td>Elétrico</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>RT54875102</td>
                                    <td>José Luis Pelaez</td>
                                    <td>6:30am - 3:30pm</td>
                                    <td>General</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>QA5425353</td>
                                    <td>Marc Antoni de jesús</td>
                                    <td>8:30am - 5:30pm</td>
                                    <td>Latoneria y pintura</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>WE8574773</td>
                                    <td>José Luis Pelaez</td>
                                    <td>11:30am - 8:30pm</td>
                                    <td>Elétrico</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>RT54875102</td>
                                    <td>José Luis Pelaez</td>
                                    <td>6:30am - 3:30pm</td>
                                    <td>General</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>QA5425353</td>
                                    <td>Marc Antoni de jesús</td>
                                    <td>8:30am - 5:30pm</td>
                                    <td>Latoneria y pintura</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>WE8574773</td>
                                    <td>José Luis Pelaez</td>
                                    <td>11:30am - 8:30pm</td>
                                    <td>Elétrico</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>RT54875102</td>
                                    <td>José Luis Pelaez</td>
                                    <td>6:30am - 3:30pm</td>
                                    <td>General</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>QA5425353</td>
                                    <td>Marc Antoni de jesús</td>
                                    <td>8:30am - 5:30pm</td>
                                    <td>Latoneria y pintura</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>WE8574773</td>
                                    <td>José Luis Pelaez</td>
                                    <td>11:30am - 8:30pm</td>
                                    <td>Elétrico</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                                <tr>
                                    <td>RT54875102</td>
                                    <td>José Luis Pelaez</td>
                                    <td>6:30am - 3:30pm</td>
                                    <td>General</td>
                                    <td><i class="bi bi-gear"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="row-sm-6">
        <button id="aceptar" type="button" class="btn btn-primary">Agendar</button>
    </div>
</div>

<!---------------------Fin--Html-------------------------------------------------------------------->

<!--------------------------Css--------------------------------------------------------------------->

<style>
    #aceptar {
        width: 40%;
        margin-left: 30%;
        border-radius: 10px;
        margin-top: 50px;
    }

    .cita {
        background: linear-gradient(to right, #FFE8C7, #EBEBF6);
        ;
    }

    .tecnico {}

    body {
        background: linear-gradient(to right, #F0FAFC, #EBEBF6);
    }

    .imagen {
        margin-left: ;
        width: 90px;
        height: 40px;
        margin-top: 440px;
        cursor: pointer;
    }

    #tabla {
        height: 580px;
        overflow-y: auto;
        background: linear-gradient(to right, #FFE8C7, #EBEBF6);
        border-radius: 10px 10px;
    }

     #cabeza {
        color: white;
        height: 60px;
        width: 100%
    }


    table {
        text-align: center;
        font-size: 13px;
    }

    th {
        color: white;
    }

    .cabeza {
        background: linear-gradient(to right, #FFE8C7, #EBEBF6);
        border-radius: 10px;
    }

    #data {
        margin-left: 20px;
    }
</style>

<!---------------------Fin--Css--------------------------------------------------------------------->

<!--------------------------Js---------------------------------------------------------------------->
<!---------------------Fin--Js---------------------------------------------------------------------->