@page
@model Taller.app.Front.Pages.IniciarSesionModel
@{
}

<style>
#cabeza {
        color: white;
    }

#user {
        font-size: 30px;
        margin-right: 10px;
    }


    img{
	width: 100%;
}
.login {
    height: 600px;
    width: 100%;
    background: #f2eee3;
    position: relative;
}
.login_box {
    width: 1200px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}
.login_box .left{
  width: 41%;
  height: 100%;
  padding: 25px 25px;

}
.login_box .right{
  width: 59%;
  height: 100%
}
.left .top_link a {
    color: #452A5A;
    font-weight: 400;
}
.left .top_link{
  height: 20px
}
.left .contact{
	display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}
.left h3{
  text-align: center;
  margin-bottom: 40px;
  color: darkblue;
}
.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid blue;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: white;
    font-weight: 600;
    font-size: 14px;
}
.left{
	background: linear-gradient(-45deg, #dcd7e0, #fff);
}
.submit {
    border: none;
    padding: 10px 50px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 50px;
    background: blue;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}

.register {
    border: none;
    padding: 10px 60px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 20px;
    background: white;
    color: blue;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}


.right {
	background: url(https://siempreauto.com/wp-content/uploads/sites/9/2022/06/Taller-meca%CC%81nico-confiable.jpg?quality=60&strip=all&w=1200&h=800&crop=1);
	color: #fff;
	position: relative;
}

.right .right-text{
  height: 100%;
  position: relative;
  transform: translate(0%, 45%);
}
.right-text h2{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.right-text h5{
  background-color: blue;
  border-radius: 4px;
  border-color: white;
  display: block;
  width: 60%;
  text-align: center;
  font-size: 17px;
  font-weight: 350;
  margin-left: 140px;
  margin-bottom: 1500px;
}

.right .right-inductor{
  position: absolute;
  width: 70px;
  height: 7px;
  background: #fff0;
  left: 50%;
  bottom: 70px;
  transform: translate(-50%, 0%);
}
.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}
</style>
<body>
<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="top_link"><a href="#"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Volver a inicio</a></div>
				<div class="contact">
					<form class="needs-validation" novalidate>
						<h3>INICIO DE SESIÓN</h3>
						<input type="text" class="form-control" id="validationCustom01" required placeholder="USUARIO"></input>
            <input type="password" class="form-control" id="validationCustom02" required placeholder="CONTRASEÑA"></input>
            <br>
            <button class="btn btn-primary" id="liveAlertBtn" type="submit">INGRESAR</button>
            <a class="btn btn-light" href="#" role="button">REGISTRARSE</a>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="right-text">
					<h5>Trabajamos pensando en tu bienestar y el de tu vehiculo</h5>
				</div>
				<div class="right-inductor"><img src="" alt=""></div>
			</div>
		</div>
	</section>
    </body>

    <!---------------------------------------------------------Js-------------------------------->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {

                        event.preventDefault()
                        const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
                        const alert = (message, type) => {
                            const wrapper = document.createElement('div')
                            wrapper.innerHTML = [
                                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                                `   <div>${message}</div>`,
                                '   <button type="button" id="closes" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                                '</div>'
                            ].join('')

                            alertPlaceholder.append(wrapper)
                        }
                        const alertTrigger = document.getElementById('liveAlertBtn')
                        if (alertTrigger) {
                            alertTrigger.addEventListener('click', () => {
                                alert('Vehículo registrado con exito', 'success')
                            })
                        }
                    }
                    form.classList.add('was-validated')

                }, false)


            })
        })()

    </script>
    <!---------------------------------------------------------Js-------------------------------->